button.btn btn-primary active {
  background-color:white;
  color:white;
}

.btn-primary:not(:disabled):not(.disabled).active {
  background-color:rgb(84,179,60);
}

.btn:not(:disabled):not(.disabled) {
  margin: auto;
}

select{
    text-align: center;
    height: 290px;
    overflow: hidden;
    width: 150px;
    outline: none;
    border: none;
}

.cats {
    background-color: darkgrey;
    color: white;
    margin-bottom: 20px;
}

.cats:hover {
    background-color: grey !important;
    color: white;
};
