.profile-back {
  background-color:#1f7d9b;
  height:150px;
  margin-bottom:-75px;
}

.profile-pic {
  width:150px;
  height:150px;
  margin-bottom:10px;
}

.profile-card {
  text-align:center;
  margin-bottom:15px;
  /*border:1px solid #ffffff;*/
}

.profile-name {
  background-color:#395759;
  color:#fff;
  font-family:'Actor', sans-serif;
  font-size:16px;
  font-weight:bold;
  padding:5px 0;
  border-radius:100px;
  max-width:300px;
  margin:0 auto 10px auto;
}

.profile-card .social-list {
  list-style:none;
  padding:0;
  margin-bottom:20px;
}

.profile-card .social-list li {
  display:inline;
  margin:0 5px;
  /*background-color:#9b1f1f;*/
  /*color:#fff;*/
  /*padding:10px;*/
  /*border-radius:100%;*/
}

.profile-bio {
  margin-bottom:10px;
  padding:10px;
}

.profile-card .social-list li i {
  background-color:#2775d2;
  color:#fff;
  padding:10px 11px;
  border-radius:100%;
}

