#login_error {
  width:50%;
  margin:auto;
}

#search {
  margin-top:10px;
}

#drop {
  margin-left:50px;
}

#go {
  margin-left:30px;
  outline:auto;
}

#submit:active {
  background-color:#5cb85c;
}

