#login_error {
  width:50%;
  margin:auto;
}

#search {
  margin-top:10px;
}

#drop {
  margin-left:50px;
}

#go {
  outline:auto;
  font-weight:bold;
  font-size:16px;
  letter-spacing:0.4px;
  line-height:1;
  padding:16px 32px;
  margin-top:20px;
}

#go2 {
  outline:auto;
  font-weight:bold;
  font-size:16px;
  letter-spacing:0.4px;
  line-height:1;
  padding:16px 32px;
  margin-left:15px;
}

#submit:active {
  background-color:#5cb85c;
}

#chat{
  height:410px;
  overflow-y: scroll;
}

#textArea{
  height:70px;
}
